@{
    ViewBag.Title = "Home Page";
}
<b>
    My Profile information is as following:
</b>
<p>
    FirstName = @ViewBag.FirstName
</p>

<p>
    @Html.ActionLink("Change Password ", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
</p>
<p>
    @Html.ActionLink("Edit My Information","Edit","User") 
</p>

